**/__pycache__/**
.DS_Store
src/benchmarks/pictures/**
src/benchmarks/power_plots/**
src/benchmarks/json_data/**
src/benchmarks/models/reconstructed_code_pytorch_*

src/instrumented_files/output*
src/instrumented_files/xformedpre*
src/instrumented_files/xformedname*
src/instrumented_files/*

src/output.txt
src/solver_out.txt
src/sympy.txt
src/sympy_ceil.txt
src/ipopt_out.txt

src/params/rcs.yaml
src/params/rcs_current.yaml
src/params/coefficients.yaml

data/**

src/codesign_log_dir/**