**/__pycache__/**
.DS_Store
src/benchmarks/pictures/**
src/benchmarks/power_plots/**
src/benchmarks/json_data/**

src/instrumented_files/output*
src/instrumented_files/xformedpre*
src/instrumented_files/xformedname*
src/instrumented_files/*

src/output.txt

src/params/rcs.yaml
src/params/rcs_current.yaml
src/params/coefficients.yaml

src/tmp/**

**/results/**
**/figs/**

data/**
.vscode/**

logs/**
test/inverse_validation/inverse_val_log_dir/**
test/inverse_validation/figs/**
test/inverse_validation/inverse_walkthrough_log_dir/**
test/inverse_validation/walkthrough_figs/**
test/experiments/dennard_multi_core_figs/**
test/experiments/dennard_multi_core_log_dir/**
openroad_interface/fig
openroad_interface/results