[submodule "openroad_interface/OpenROAD"]
	path = openroad_interface/OpenROAD
	url = https://github.com/The-OpenROAD-Project/OpenROAD.git

## We are using a fork of ScaleHLS-HIDA that has additional benchmarks added and unnecessary files removed.
[submodule "ScaleHLS-HIDA"]
	path = ScaleHLS-HIDA
	url = https://github.com/patrickmcewen/ScaleHLS-HIDA.git
[submodule "src/hardware_model/tech_models/tech_codesign_v0"]
	path = src/hardware_model/tech_models/tech_codesign_v0
	url = https://github.com/kjstanford/tech_codesign_v0.git
[submodule "Stream-HLS"]
	path = Stream-HLS
	url = https://github.com/patrickmcewen/Stream-HLS.git
[submodule "src/hardware_model/tech_models/mvs-transistor-models"]
	path = src/hardware_model/tech_models/mvs-transistor-models
	url = https://github.com/vjuricek101/mvs-transistor-models
