[submodule "src/cacti"]
	path = src/cacti
	url = https://github.com/fazerlicourice7/cacti.git
[submodule "openroad_interface/OpenROAD"]
	path = openroad_interface/OpenROAD
	url = https://github.com/The-OpenROAD-Project/OpenROAD.git

## We are using a fork of ScaleHLS-HIDA that has additional benchmarks added and unnecessary files removed.
[submodule "ScaleHLS-HIDA"]
	path = ScaleHLS-HIDA
	url = https://github.com/patrickmcewen/ScaleHLS-HIDA.git
[submodule "codesign-opt"]
	path = codesign-opt
	url = https://github.com/Sankalp22863/codesign-opt.git
