**/__pycache__/**
.DS_Store
src/benchmarks/pictures/**
src/benchmarks/power_plots/**
src/benchmarks/json_data/**

src/output.txt

src/params/rcs.yaml
src/params/rcs_current.yaml
src/params/coefficients.yaml

src/tmp/**

**/results/**
**/figs/**
**/build/**
**.log

data/**
.vscode/**

logs/**

test/inverse_validation/logs/**
test/inverse_validation/figs/**
test/inverse_validation/inverse_walkthrough_log_dir/**
test/inverse_validation/walkthrough_figs/**
test/experiments/dennard_multi_core_figs/**
test/experiments/dennard_multi_core_logs/**
openroad_interface/fig
openroad_interface/results

src/benchmarks/c_cores_work/venv
miniconda3/
Miniconda3-latest-Linux-x86_64.sh

tools/

test_vitis_resnet/resnet_18/

test_vitis/test_gemm/

test_vitis_resnet/test_parse/

test_vitis_resnet/test_parse*/