[submodule "src/cacti"]
	path = src/cacti
	url = https://github.com/fazerlicourice7/cacti.git
[submodule "openroad_interface/OpenROAD"]
	path = openroad_interface/OpenROAD
	url = https://github.com/The-OpenROAD-Project/OpenROAD.git
[submodule "scalehls"]
	path = scalehls
	url = https://github.com/UIUC-ChenLab/scalehls.git