appnope
astor
astpretty
asttokens
Bottleneck
certifi
cffi
charset-normalizer
clarabel
comm
contourpy
cycler
debugpy
decorator
ecos
equinox
executing
filelock
fonttools
fsspec
gmpy2
graphviz
HeapDict
idna
ipykernel
ipython
jax
jaxtyping
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
mpmath
munkres
nest-asyncio
networkx
numexpr
numpy
opt-einsum
osqp
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
ply
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pygraphviz
Pyomo
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qdldl
requests
SciencePlots
scipy
scs
seaborn
six
stack-data
statsmodels
sympy
sympy2jax
torch
torchvision
tornado
traitlets
typeguard
typing_extensions
tzdata
UNKNOWN
urllib3
wcwidth
