# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
ampl-mp
appnope
astor
astpretty
asttokens
blas
boost-cpp
bottleneck
brotli
brotli-bin
bzip2
c-ares
ca-certificates
cairo
certifi
cffi
charset-normalizer
clarabel
comm
contourpy
cvxpy
cvxpy-base
cycler
debugpy
decorator
ecos
equinox
executing
expat
filelock
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-anaconda
fonts-conda-ecosystem
fonttools
freetype
fribidi
fsspec
gdk-pixbuf
gettext
giflib
glib
glpk
gmp
gmpy2
graphite2
graphviz
gts
harfbuzz
heapdict
icu
idna
ipopt
ipykernel
ipython
jax
jaxtyping
jedi
jinja2
jpeg
jupyter_client
jupyter_core
kiwisolver
krb5
lcms2
lerc
libblas
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libcxx
libdeflate
libedit
libev
libexpat
libffi
libgd
libgfortran
libgfortran5
libiconv
liblapack
libnghttp2
libopenblas
libosqp
libpng
libprotobuf
libqdldl
librsvg
libscotch
libsodium
libsqlite
libssh2
libtiff
libtool
libuv
libwebp
libwebp-base
libxml2
libzlib
llvm-openmp
lz4-c
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
metis
ml-dtypes
mpc
mpfr
mpmath
mumps-include
mumps-seq
munkres
ncurses
nest-asyncio
networkx
ninja
ninja-base
nspr
nss
numexpr
numpy
numpy-base
openjpeg
openssl
opt-einsum
osqp
packaging
pandas
pango
parso
patsy
pcre
pexpect
pillow
pip
pixman
platformdirs
ply
poppler
poppler-data
prompt-toolkit
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pygments
pygraphviz
pyomo
pyparsing
python
python-dateutil
python-graphviz
python-tzdata
python_abi
pytorch
pytz
pyyaml
pyzmq
qdldl-python
readline
requests
scienceplots
scipy
scotch
scs
seaborn
seaborn-base
setuptools
six
sleef
sqlite
stack_data
statsmodels
sympy
sympy2jax
tk
torchvision
tornado
traitlets
typeguard
typing-extensions
typing_extensions
tzdata
urllib3
wcwidth
wheel
xz
yaml
zeromq
zlib
zstd
