# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> -c conda-forge
# platform: osx-arm64
appnope
astor
astpretty
asttokens
backcall
backports
backports.functools_lru_cache
blas=1.0
boost-cpp
brotli
brotli-bin
brotlipy
bzip2
c-ares
ca-certificates
cairo
certifi
cffi
charset-normalizer
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
expat
ffmpeg
filelock
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-anaconda
fonts-conda-ecosystem
fonttools
freetype
fribidi
gdk-pixbuf
gettext
giflib
glib
gmp
gmpy2
gnutls
graphite2
graphviz
gts
harfbuzz
heapdict
icu
idna
importlib-metadata
importlib_metadata
ipykernel
ipython
jedi
jinja2
jpeg
jupyter_client
jupyter_core
kiwisolver
krb5
lame
lcms2
lerc
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libcxx
libdeflate
libedit
libev
libffi
libgd
libgfortran
libgfortran5
libiconv
libidn2
libnghttp2
libopenblas
libopus
libpng
librsvg
libsodium
libssh2
libtasn1
libtiff
libtool
libunistring
libvpx
libwebp
libwebp-base
libxml2
llvm-openmp
lz4-c
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mpc
mpfr
mpmath
munkres
ncurses
nest-asyncio
nettle
networkx
nspr
nss
numpy
numpy-base
openh264
openjpeg
openssl
packaging
pango
parso
pcre
pexpect
pickleshare
pillow
pip
pixman
platformdirs
poppler
poppler-data
prompt-toolkit
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pygments
pygraphviz
pyopenssl
pyparsing
pysocks
python
python-dateutil
python-graphviz
pytorch
pyzmq
readline
requests
setuptools
six
sqlite
stack_data
sympy
tk
torchvision
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel
x264
xz
zeromq
zipp
zlib
zstd
